streamlit==1.35.0
nltk
folium
streamlit-folium
wordcloud
scikit-learn==0.24.2  # Updated version with pre-built wheels
gitpython==3.1.43
seaborn==0.11.1
matplotlib==3.4.1
plotly==4.14.3
pandas==1.3.0  # Updated to meet Streamlit's requirements
numpy==1.21.0  # Compatible with pandas 1.3.0 and SciPy
scipy==1.7.0   # Compatible version with pre-built wheels
